.p-2 {
  text-align: center;
  display: flex;
}

.p-2 label {
  justify-content: center;
}

.form-label {
  text-align: center;

  justify-content: center;
}

.btn-primary {
  margin: 15px;
}
